* {
	margin: 0px;
	padding: 0px;
	font-size: 12px;
}
ul.header_top{
	margin-left: 50px;
}
ul.header_top li{
	display: inline;
	list-style: none;
}
.article a.title {
	position: relative;
	top: 0px;
	left: 20px;
	font-size: 14px;
}
a.title:link,
a.title:visited {
	color: #0d437a;
	font-weight: bolder;
	text-decoration: none;
}
a.title:hover {
	color: #663322;
	font-weight: bolder;
	text-decoration: underline;
}
.article dl.article_list dd {
	padding: 5px;
	border-bottom: 1px dashed silver;
}
a.article_link:link,
a.article_link:visited {
	text-decoration: none;
	color: #666;
	background: url(../img/topic_dot.jpg) no-repeat;
	background-position: 0 50%;
	padding-left: 10px;
}
a.article_link:hover {
	text-decoration: underline;
	color: #833;
}
.carousel-inner img {
	height: 300px;
}
.split-line {
	background: #ccc;
	height: 5px;
	margin-left: 0px;
	margin-top: -5px;
}
#content_top{
	margin-top: 10px;
}
#news_content{
	margin-top: 10px;
}
#schoolOpen_bg {
	background: url(../img/xwgk_bg.jpg) no-repeat;
	height: 91px;
}
#schoolSum_bg {
	width: 130px;
	height: 128px;
	float: left;
	background: url(../img/1.png);
	border: 1px solid black;
}
#schoolSum {
	font-size: 14px;
}
#data_content {
	clear: both;
}
#data_content div.span4 {
	margin-left: 0px;
}
#quickButton {
	clear: both;
	margin-left:-20px;
	border: 1px solid #898989;
	border-left: 4px solid #266197;
}
#quickButton a {
	position: relative;
	left: 20px;
	text-align: center;
	margin: 10px;
}
.text-center {
	text-align: center;
}
div.footer {
	margin-top: 8px;
	height: 80px;
	background-image: url(../img/dot-pattern-01.png);
	background-color: #464646;
	color: #ebebeb;
}
.footer span.support,
span.copyRight {
	position: relative;
	left: 50%;
	top: 20px;
	margin-left: -150px;
	text-align: center;
	font-size: 10px;
}
.footer span.copyRight {
	margin-left: -80px;
}
/*********************artical_list.html css***************************/
div.localAddress {
	margin-top: 10px;
}
div.breadcrumb {
	border-bottom: 1px solid gainsboro;
}
div.channel_title{
	border-bottom: 1px solid silver;
	margin-left: 10px;
	margin-bottom: 10px;
}
div.channel_title span {
	color: #0d437a;
	font-size: 14px;
	position: relative;
	left: 10px;
	top: -2px;
	font-weight: bolder;
}
div.channel_right{
	margin-left: 0px;

}
/********************article_show.html css*************************/
#article_top div.article_show_title {
	margin-top: 10px;
}
#article_top div.split-line {
	margin-top: 5px;
}
div.article_show_title span.bigTitle {
	position: relative;
	left: 50%;
	margin-left: -100px;
	font-size: 25px;
	font-family: "微软雅黑";
	color: steelblue;
}
div.article_show_title span.articleDate {
	position: relative;
	top: 5px;
	left: 50%;
	margin-left: -100px;
	font-size: 12px;
}
#article_center {
	padding: 10px 0px;
	margin-left: 28px;
	text-align: center;
}
#article_center div.article_show_content {
	position: relative;
	font-family: 12px;
}