.blk_29 {zoom: 1;position: relative;width:100%;height:62px;overflow:hidden;}
.blk_29 .LeftBotton {background: url(../img/nav.gif) no-repeat 0px 0px #000;float: left;width: 20px;cursor: pointer; position: absolute;height: 62px;
filter:alpha(opacity=20); /*IE*/
-moz-opacity:0.2; /*MOZ , FF*/
opacity:0.2; /*CSS3, FF1.5*/}
.blk_29 .LeftBotton:hover{filter:alpha(opacity=50); /*IE*/
-moz-opacity:0.5; /*MOZ , FF*/
opacity:0.5; /*CSS3, FF1.5*/}
.blk_29 .RightBotton {RIGHT:0px;background: url(../img/nav.gif) no-repeat -20px 0px #000;float: right;width: 20px;cursor: pointer;position: absolute;TOP: 0px;height: 62px;
filter:alpha(opacity=20); /*IE*/
-moz-opacity:0.2; /*MOZ , FF*/
opacity:0.2; /*CSS3, FF1.5*/}
.blk_29 .RightBotton:hover{filter:alpha(opacity=50); /*IE*/
-moz-opacity:0.5; /*MOZ , FF*/
opacity:0.5; /*CSS3, FF1.5*/}
.blk_29 .Cont {overflow: hidden;width: 966px;}
.blk_29 .box {float: left;width: 234px; text-align:left; padding-right:10px;}
.blk_29 .box .imgstyle{height:60px; border:solid #DDDDDD 1px; background:url(../img/qbg.jpg) repeat-x bottom;}
.blk_29 .box img {display: block;background: #fff;}
